<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">MY SKILLS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Вероника Каткаева</h1>
        <p class="home__subtitle">Актриса театра и кино</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">ABOUT ME</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Каткаева Вероника Владимировна <br/><br> 15 лет (22.04.2009 г.р.), русская. <br>
г.Алматы, Казахстан. <br/>
Рост 162 см, вес 40 кг, волосы русые(до плеч), глаза карие,  размер одежды XS, размер обуви 38.
<br><br>Инстаграм https://instagram.com/veronika_katkayeva?igshid=dymho9vix7gu

<br><br>Участница шоу "Лучше всех" (Москва, октябрь 2018).

<br>Участница детского жюри V Большого Детского Фестиваля под руководством Сергея Безрукова (Москва , сентябрь-ноябрь 2022 г.)

<br>Участница детского жюри VI Большого Детского Фестиваля под руководством Сергея Безрукова (Москва , сентябрь-ноябрь 2023г.)
<br><br>
Фильмография:
<br><br>16. - Полный метр "Смотри на меня" июль-август 2023г. Главная роль Люся, режиссёр В.А.Грамматиков, сценарист А.С.Кончаловский, Россия г. Москва (в производстве);
<br>15. - Полный метр "Лёгкий пепел жизни" апрель 2023г. Главная роль, Юродивая. Режиссер Давид Лихтенфельд (Россия- Казахстан)( в производстве);
<br>14. - Сериал "Мы здесь, чтобы вам помочь" апрель 2023г. Эпизод . Режиссер Дмитрий Тюрин (Россия, Казахстан) (в производстве);<br> 13.  - Ролик-мюзикл для фонда "Подари жизнь". ГЛАВНАЯ РОЛЬ.  Ноябрь 2021. Режиссер Чувикова Карина, Россия г.Москва (в производстве);
<br>12.- "Тамыр" апрель -май 2021 г. Эпизодическая роль. Режиссер Илья Таучелов Казахстан-Россия-Беларусь( В производстве);                                                      <br>11. - Детский сериал "Мир детского периода",  май-июнь 2020 г. Главная роль - Айка, режиссёр Виктор Демьянюк, Казахстан-Украина(в производстве);
<br>10.- Художественный фильм "Книга жизни" май 2020 г. Эпизод - Вероника, режиссёр Марат Ашимов, Казахстан.(октябрь 2020);
<br>9.- Короткометражный фильм «Станок» февраль 2020 г. Эпизод – Николь, режиссёр Илья Мартынов, оператор Руслан Куанышев, Казахстан;
<br>8. - Короткометражный фильм "8марта"(дипломная работа) январь 2020 г. Эпизод – дух девочки, режиссёр Алимжан Бауржанов, Казахстан. (2020); 
<br>7. - Короткометражный фильм "Я хочу на марс»,январь 2020 г. Главная роль – Карина, режиссёр Зухра Набирова, оператор Азиз Жан-Бакиев, Казахстан.(2020);  
<br>6.- Х/ф "Три", июль 2019 г. Казахстан, Корея, эпизод, групповка–девочка прохожая (2022);  
<br>5. - Х/ф "Эвакуация" декабрь 2018 г. 1) Эпизод – девочка с мамой; 2) массовка – девочка в очереди; режиссёр Фархат Шарипов, Казахстан (в производстве)
<br>4.- Короткометражный фильм "Добрые руки"(дипломная работа) ноябрь 2017 г. Казахстан;
<br>3. - Сериал «Возвращение» ноябрь 2014 г. Эпизод – потерявшаяся девочка, режиссёр Актан Арым Кубат, кинокомпании Танарис
<br><br>Съемки в социальных роликах:
<br><br>2. - Социальный ролик "Дружба народов" 2017 г.;
<br>  1. - "Жанашу" май 2018 г. (в поддержку деток больных онкологией) - в этом ролике побрилась налысо по собственному желанию; 
<br><br>Спектакли:
<br><br>"Семь дней карантина" спектакль, главная роль девочка Алия, начало репетиций январь 2021, режиссёр Илья Бобков (Казахстан) Премьера май 2021г.;
<br><br>Детские спектакли, мюзиклы с 2017 по 2019гг (главные роли: Золушка, Царевна-Несмеяна, Лиса-Алиса и мн.др.)

<br><br>Была ведущей концерта Muzzone август 2020 г.

<br><br>Навыки : кикбоксинг, фехтование, танцы, вокал, воздушная акробатика, плавание, коньки, велосипед, конная езда, скейтборд
 
<br><br>Телефон для связи +77077996377 Каткаева Людмила Николаевна
          </p>
          <img
            class="info-block__img"
            src="../static/img/1.jpg"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/2f8c44a0f0f4616888ab35fdddf75dbd.png"
                alt="python"
                width="350"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_python" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_discord" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_html" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Skill info</span>
              <input class="skill__button" type="submit" name="button_db" value="SHOW PROJECT">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/me.jpeg" alt="project" width="500">
              <a class="project__link" href="https://www.youtube.com/watch?v=Ff4Au6a_M-o">Открыть</a>
          </div>
        {% endif %}
      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
